body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}

nav {
  background-color: white;
  height: 85px;
  display: flex;
  padding: 0 10%;
  align-items: center;
  justify-content: space-between;
}

.navbar > h1 {
  font-size: 20px;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  gap: 30px;
}

.hero-container {
  display: flex;
  height: 470px;
  padding: 0 10%;
}

.hero-container > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-container h1 {
  font-size: 60px;
  font-weight: bold;
  width: 360px;
  margin: 20px 0;
}

.hero-container p {
  font-size: 30px;
  color: grey;
}

.hero-container > img {
  width: 50%;
  height: 323px;
  align-self: center;
}

.description-container {
  height: 243px;
  margin: 40px 0;
  padding: 0 10%;
  display: flex;
}

.description-container > div {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 8px 0px rgba(1, 1, 1, 0.2);
  border-top: 1px solid rgb(236, 231, 231);
}

.description-container > div > div {
  width: 450px;
}

.description-container > div > div > h2 {
  font-weight: bolder;
  color: #2d3748;
}

.description-container > div > div > p {
  color: #718096;
}

.description-container > img {
  width: 40%;
  object-fit: cover;
}

.description-left-footer {
  display: flex;
  justify-content: space-between;
}

.contain-container {
  min-height: 400px;
  margin: 40px 0;
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.contain-container .card {
  height: 100%;
}

.card {
  box-shadow: 0px 4px 8px 0px rgba(1, 1, 1, 0.1);
  border-radius: 5px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0px 4px 8px 0px rgba(1, 1, 1, 0.2);
}

.card > .card-body {
  padding: 20px 20px 0px 20px;
}

.card h3 {
  font-size: 20px;
  margin: 0px 0px 15px 0px;
}

.card p {
  color: grey;
  font-size: 16px;
}

.card > .card-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}

.card > img {
  object-fit: cover;
  height: 180px;
  width: 100%;
}

.description-bottom {
  display: flex;
  padding: 0 10%;
  height: 500px;
  margin: 40px 0px;
}

.description-bottom > div {
  background-color: rgb(236, 245, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
}

.description-bottom .body-description-bottom > p {
  width: 310px;
}

.description-bottom h1 {
  font-size: 60px;
}

.description-bottom p {
  color: grey;
}

.description-bottom .footer-description-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.description-bottom > div > div {
  width: 400px;
}

.description-bottom > img {
  width: 55%;
  object-fit: cover;
}

.button-container {
  padding: 0 10%;
  display: flex;
  justify-content: flex-end;
  margin: 40px 0px;
}

.button-container > button {
  background-color: rgb(92, 92, 207);
  padding: 10px 15px;
  outline: none;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  border-top: 1px solid rgb(218, 214, 214);
}

footer > div {
  width: 80%;
}

@media only screen and (max-width: 420px) {
  .hero-container {
    flex-wrap: wrap;
    height: 100%;
  }

  .hero-container > div {
    width: 100%;
    height: 250px;
  }

  .hero-container > img {
    width: 100%;
    height: 100%;
  }
}
